/*   https://coolors.co/d295bf-58355e-419d78-fad8ef-f5f5f5
#d295bf Lilac
#58355e Violet (JTC)
#419d78 Jungle Green
#fad8ef Mimi Pink
#f5f5f5 White Smoke
*/
* {
    --lilac: #D295BF;
    --violet: #58355E;
    --jungleGreen: #419D78;
    --mimiPink: #FAD8EF;
    --whiteSmoke: #F5F5F5;
}

html {
    background-color: var(--lilac);
    font-family: 'Raleway', sans-serif;
}

header, footer {
    color: var(--violet);
    background-color: var(--mimiPink);
    border: 3px solid var(--violet);
    padding: 30px;
    width: max-content;
    margin-left: auto;
    margin-right: auto;
}

main {
    color: #1C1D21;
    background-color: var(--mimiPink);
    border: 3px solid var(--violet);
    margin: 9px 0px;
    padding: 30px;
    width: min-content;
    min-width: 87.5%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    font-size: 1.1rem;
}

h1, h2 {
    font-weight: 999;
    margin-top: 9px;
    margin-bottom: 9px;
    font-family: 'Anonymous Pro', monospace;
    font-size: 2rem;
    color: var(--violet);
}

h3 {
    font-weight: 999;
    margin-top: 9px;
    margin-bottom: 9px;
    font-size: x-large;
    color: var(--violet);
}

h4 {
    font-weight: 999;
    color: var(--violet);
    font-size: large;
}

h1, h2, nav, a, footer {
    text-align: center;
}

p {
    padding: 6px;
    margin: 0;
    color: #1C1D21;
}

strong {
    color: var(--violet);
    font-weight: 1000;
}
figure {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

a:link {
    color: var(--violet);
    text-decoration: none;
}

a:visited {
    color: var(--violet);
    text-decoration: none;
}

a:hover {
    color: var(--jungleGreen);
    font-weight: 1000;
}

a:active {
    color: var(--whiteSmoke);
}

nav {
    font-size: large;
}
table {
    border: 3px solid var(--violet);
    border-collapse: collapse;
}

td, th {
    border-bottom: 1px solid var(--violet);
    border-right: 1px solid var(--violet);
    text-align: left;
    padding: 3px;
}

th {
    color: #1C1D21;
    background-color: var(--lilac);
}

form {
    padding: 0;
    margin: 0;
}

fieldset {
    border-top: 1px solid var(--violet);
    border-bottom: 1px solid var(--violet);
    border-left: none;
    border-right: none;
    margin-bottom: 6px;
    padding: 9px;
}

label {
    display: block;
    padding: 3px;
    margin: 0px
}

button, input[type="button"], input[type="submit"], input[type="reset"] {
    display: inline;
    min-height: 36px;
    min-width: 180px;
    color: var(--whiteSmoke);
    background-color: var(--violet);
    margin: 9px 6px;
}

img {
    margin-left: auto;
    margin-right: auto;    
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}

li {
    text-align: left;
    padding: 6px;
}

.image-intro {
    display: inline-block;
    max-height: 4in;
    border: 3px solid var(--violet);
}

.image-project1 {
    display: block;
    max-height: 5in;
}

.salary {
    text-align: right;
}

.category, .name, .email {
    padding-right: 20px;
}

.remove-bottom-border {
    border-bottom: none;
}

.square-button, div.calculator_keys button {
    min-height: 60px;
    min-width: 60px;
    font-size: 1.5rem;
    color: var(--whiteSmoke);
    background-color: var(--jungleGreen);
}

.container {
    border: 3px solid var(--violet);
    width: max-content;
    padding: 9px;
}

.calculator_keys {
    border: 3px solid var(--violet);
    padding: 3px;
    margin-top: 3px;
}

.calculator_display {
    font-family: 'Anonymous Pro', monospace;
    color: var(--violet);
    font-size: larger;
    border: 3px solid var(--violet);
    padding: 3px;
}

@media (max-width: 576px) {

    html, header, footer {
        min-width: min-content;
        margin-top: 3px;
        margin-bottom: 3px;
        margin-left: 0px;
        margin-right: 0px;
    }

    main {
        margin-top: 3px;
        margin-bottom: 3px;
        margin-left: 0px;
        margin-right: 0px;
    }

    header, footer {
        width: auto;
    }

    img {
        max-height: 2in;
    }

    a {
        padding: 0px;
    }

    input[type="submit"], input[type="reset"] {
        min-height: auto;
        min-width: auto;
        margin: 3px 0;
    }

    .image-intro {
        max-height: 2.5in;
    }

    .image-project1 {
        max-width: min-content;
    }
}