<header>
    <a href="/lphinne1/itis3135/blnc_client_project/"><img src="/lphinne1/itis3135/blnc_client_project/images/blnc_logo_half.png" alt="blnc_logo"></a>
    <nav>
        <a href="/lphinne1/itis3135/blnc_client_project/project/image_gallery.html">Image Gallery</a>
        <a href="/lphinne1/itis3135/blnc_client_project/project/news.html">News</a>
        <a href="/lphinne1/itis3135/blnc_client_project/project/meet_the_creators.html">Meet The Creators</a>
        <a href="/lphinne1/itis3135/blnc_client_project/project/mission_statement.html">Mission Statement</a>
        <a href="/lphinne1/itis3135/blnc_client_project/project/contact.html">Contact Us</a>        
    </nav>
</header>