<footer>
    <nav>
        <a href="https://webpages.charlotte.edu/lphinne1/">CLT Webspace</a>
        &bullet;
        <a href="https://github.com/LPhinney1">Github</a>
        &bullet;
        <a href="https://lphinney1.github.io/">Github.io</a>
        &bullet;
        <a href="https://www.freecodecamp.org/lphinne1">Freecodecamp</a>
        &bullet;
        <a href="https://www.codecademy.com/profiles/lphinne1">Codecademy</a>
        &bullet;
        <a href="http://www.linkedin.com/in/logan-p-87459728a">Linkedin</a>
    </nav>
    <hr>
    <p><em>Designed by <a href="/lphinne1/itis3135/phinneysconsulting.com/">Phinney's Consulting</a>&copy;2023</em> &bullet; Certified in <a href="https://freecodecamp.org/certification/lphinne1/responsive-web-design" target="_blank">HTML/CSS</a></p>
    <a href="https://validator.w3.org/check?uri=referer" id="validation_link_html"><script>document.getElementById("validation_link_html").setAttribute("href","https://validator.w3.org/check?uri="+location.href)</script><img style="border:0;width:88px;height:31px" src="https://upload.wikimedia.org/wikipedia/commons/b/bb/W3C_HTML5_certified.png" alt="Valid HTML!"></a>
    <a href="https://jigsaw.w3.org/css-validator/check/referer" id="validation_link_css"><script>document.getElementById("validation_link_css").setAttribute("href","https://jigsaw.w3.org/css-validator/check/"+location.href)</script><img style="border:0;width:88px;height:31px" src="https://jigsaw.w3.org/css-validator/images/vcss" alt="ValidCSS!"></a>
</footer>