<header>
    <h1>Logan Phinney's Laughing Pterodactyl &bullet; ITIS3135</h1>
    <nav>
        <a href="../">Home</a>
        &bullet;
        <a href="/lphinne1/itis3135/project/introduction.html">Introduction</a>
        &bullet;
        <a href="/lphinne1/itis3135/project/contract.html">Contract</a>
        &bullet;
        <a href="/lphinne1/itis3135/project/tables.html">Tables</a>
        &bullet;
        <a href="/lphinne1/itis3135/project/forms.html">Forms</a>
        &bullet;
        <a href="/lphinne1/itis3135/project/website_evaluations.html">Evaluations</a>
        &bullet;
        <a href="/lphinne1/itis3135/project/firstscripts.html">Scripts</a>
        &bullet;
        <a href="/lphinne1/itis3135/project/byo_intro.html">BYO Intro</a>
        &bullet;
        <a href="/lphinne1/itis3135/project/project1_intro.html">Client Project Plan</a>
        &bullet;
        <a href="/lphinne1/itis3135/project/calc_try.html">Calc Try</a>
        &bullet;
        <a href="/lphinne1/itis3135/project/calc_fcc.html">Calc FCC</a>
        &bullet;
        <a href="/lphinne1/itis3135/project/arrays.html">Arrays</a>
        &bullet;
        <a href="/lphinne1/itis3135/project/interactive_drawing.html">Drawing</a>
        &bullet;
        <a href="/lphinne1/itis3135/project/review1.html">Review 1</a>
        &bullet;
        <a href="/lphinne1/itis3135/project/review2.html">Review 2</a>
    </nav>
    <hr>
    <nav>
        <a href="/lphinne1/itis3135/z_archives/random_stuff_crappy_page/w3irD||HTM;.htm">Crappy Webpage</a>
        &bullet;
        <a href="/lphinne1//itis3135/blnc_client_project/">Client Project: BLNC</a>
        &bullet;
        <a href="/lphinne1/itis3135/hobby_page/">Hobby Page</a>
    </nav>
</header>